<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Usuários cadastrados</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.username}"></td>
                <td th:text="${usuario.role}"></td>
                <td>
                	<a th:href="@{'/usuarios/editar/?id=' + ${usuario.id}}">Editar</a>
                	<a th:href="@{'/usuarios/excluir/?id=' + ${usuario.id}}" 
                	onclick="return comfirm('Tem certeza que deseja excluir este usuario')">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
