<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Relatório de Comandas</title>
</head>
<body>
<h1>Gerar Relatório</h1>

<form th:action="@{/relatorio/pdf}" method="get">
    <label>Data Início:</label>
    <input type="date" name="dataInicio"/><br/>

    <label>Data Fim:</label>
    <input type="date" name="dataFim"/><br/>

    <label>ID do Cliente:</label>
    <input type="number" name="clienteId"/><br/>

    <label>Nome do Cliente:</label>
    <input type="text" name="nomeCliente"/><br/>

    <button type="submit">Baixar PDF</button>
</form>


<form th:action="@{/relatorio/excel}" method="get" style="margin-top: 1em;">
    <label>Data Início:</label>
    <input type="date" name="dataInicio"/><br/>

    <label>Data Fim:</label>
    <input type="date" name="dataFim"/><br/>

    <label>ID do Cliente:</label>
    <input type="number" name="clienteId"/><br/>

    <label>Nome do Cliente:</label>
    <input type="text" name="nomeCliente"/><br/>

    <button type="submit">Baixar Excel</button>
</form>

</body>
</html>
