<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado do Relátorio</title>
</head>
<body>
	<h1>Comandas Filtradas</h1>
	<a href="/relatorio">Voltar ao Filtro</a>
	<table border="1">
		<tr>
		    <th>ID</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Total</th>
		</tr>
		<tr th:each="comanda : ${comandas}">
			<td th:text="${comanda.id}"></td>
			<td th:text="${comanda.cliente.nome}"></td>
			<td th:text="${#temporals.format(comanda.dataHora, 'dd/MM/yyyy HH:mm')}"></td>
			<td>
				<td th:text="'R$ ' + ${comanda.total}"></td>
			</td>
		</tr>		
	</table>
</body>
</html>