<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lista de Produtos</title>
</head>

<body>
	<h1>Produtos</h1>
	<a href="/produtos/novo">Novo Produto</a>
	<table>
		<tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>valor</th>
            <th>Codigo de Barras</th>
		</tr>
		
		<tr th:each="produto : ${produtos}">
			<td th:text="${produto.nome}">Nome</td>
			<td th:text="${produto.descricao}">Descrição</td>
			<td th:text="${produto.valor}">0.00</td>
			<td th:text="${produto.codigoBarras}">Código</td>
			<td>
				<a th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a>
                <a th:href="@{/produtos/excluir/{id}(id=${produto.id})}">Excluir</a>
			
			</td>
		</tr>
		
	</table>
	
</body>
</html>



	