<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagamentos</title>
</head>
<body>
<h1>Pagamentos Registrados</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Comanda</th>
        <th>Cliente</th>
        <th>Valor Pago</th>
        <th>Forma</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pagamento : ${pagamentos}">
        <td th:text="${pagamento.id}"></td>
        <td th:text="${pagamento.comanda.id}"></td>
        <td th:text="${pagamento.comanda.cliente.nome}"></td>
        <td th:text="${pagamento.valorPago}"></td>
        <td th:text="${pagamento.formaPagamento}"></td>
        <td th:text="${#temporals.format(pagamento.dataHora, 'dd/MM/yyyy HH:mm')}"></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/comandas}">Voltar</a>
</body>
</html>
